polkit.addRule(function(action, subject) {
    if (action.id == "org.koompi.theme.manager.pkexec.sed" &&
        subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
